test/decimal-type/decimal-test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:m="http://csrc.nist.gov/ns/metaschema/test/decimal"
    targetNamespace="http://csrc.nist.gov/ns/metaschema/test/decimal"
    elementFormDefault="qualified">

    <!-- Root element for testing -->
    <xs:element name="decimal-tests">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="test-case" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value">
                                <xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>
                                        A real number expressed using a whole and optional fractional part
                                        separated by a period, with optional exponential notation.
                                        No leading '+' is allowed. Leading zeros are not allowed except
                                        for the integer 0 itself or numbers less than 1 (e.g., 0.5).
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:double">
                                        <xs:pattern value="-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="description" type="xs:string" use="required"/>
                        <xs:attribute name="expected" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="valid"/>
                                    <xs:enumeration value="invalid"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
